{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block body %}

   
    <div class="col-8 mx-auto center">

    <h1>Conditions générales de vente</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, repellat, culpa iste minima laudantium quae ipsam corrupti cum sunt vel enim, commodi eum nisi esse voluptatibus provident quod quia atque.</p>
    <hr>
    <h2>Article 1 - Acceptation des présentes conditions de vente</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus sit ipsum, laboriosam sunt voluptas, voluptate commodi aliquam illo dignissimos, ea dolore? Voluptatem expedita illo laborum repellat quasi blanditiis fuga perspiciatis.</p>

    </div>
    


{% endblock %}