 
                                            {# CAROUSEL #}
               
    <section class="portfolio">
    <div>
 
        {# Carousel V3 #}

        <div id="headerCarousel" class="carousel slide"  data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                   {% for slider in sliders %}
                        <div class="carousel-item text-center {% if loop.index == 1 %} active {% endif %}">
                            <img class="carousel-img" src="{{asset('uploads/' ~ slider.photo )}}">
                        
                        </div>
                    {% endfor %}
                </div>  <div class="head__container">

                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> 

        </div>  
</div>

    </section>

                                            {# FIN CAROUSEL #}

