{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}

   <section class="header__picture">
   <img width="100%" height="500vh" src="{{ asset('assets/img/chambre-1.jpg')}}"  alt="...">
   </section>



{% endblock %}
