*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********************NAVBAR*************************/
.my-nav{
    z-index: 999 !important;
    border: 0 !important;
    position: absolute;


}
.my-nav a{
 color: #000 !important;


}

.my-nav a:hover{
    color: rgb(117, 103, 56) !important;
   transform: scale(1.2) !important;
    border-bottom: 1px solid rgb(117, 103, 56) !important;
   
}

/************************ FIN NAVBAR ***************************/
/************************* CAROUSEL ****************************/

.carousel-img {
width: 100%;
top: 0;
}


 #HeaderCarousel {
   top: 0;
   position: absolute;

    
}
/************************ FIN CAROUSEL **************************/
.head__container{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.intro-button{
    width: 50%;
    height: 50%;
    /* border: 4px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.intro-button input{
    padding: 5px !important;
    width: 45% !important;
    height: 35px !important;
    background: rgb(0, 0, 0);
    border: none !important;
    color: wheat;
}

.btn-blue {
    padding: 5px !important;
    width: 100% !important;
    height: 35px !important;
    background: rgb(0, 0, 0) !important;
    border: none !important;
     color: wheat;
}


.intro-button input:hover {
    padding: 7px;
    width: 45%;
    height: 45px;
    background: rgb(103, 82, 39) !important;
    color: white;
    border: none;
    font-weight: bold;
    transition: .2s;
    border-radius: 20px;
}
.btn-blue:hover {

    background: rgb(103, 82, 39) !important;
    color: white;
    border: none;
    font-weight: bold;
    transition: .2s;
    border-radius: 20px;
}


.discovery{
    width: 100%;
    height: 70vh;
    /* background: rgba(0, 0, 0, 0.088); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card{
    width: 250px;
    padding: 10px;
    /* border: 1px solid #000; */
   
}

.card img{
    border-radius: 50%;
    margin: 0 auto;
}

.card h2{
    text-align: center;
}

.card p{
    width: 100%;
    text-align: justify;
}

.card button{
    background: rgb(27, 118, 255);
    border: none;
}
.card button{
    background: rgb(27, 118, 255);
    border: none;
    padding: 5px;
}

.card button:hover{
    background: #ff961b;
    color: aliceblue;
    font-weight: bold;
    transition: .2s;
    border-radius: 20px;
}

.vertical-line{
        border-left: 2px solid #000;
        display: inline-block;
        height: 130px;
        margin: 0 20px;
    }



.img-custom {
    object-fit: contain;

}


/* FORMULAIRE CONTACT */
.wrapper{
    background-color: #5f5d5b28;
    border-radius: 5px;
}
/*FIN FORMULAIRE CONTACT */


.card-body a,
.reservation a{
    width: 150px !important;
    padding: 10px 20px !important;
    background-color: red !important;
    color: white !important;
    text-decoration: none !important;
    font-weight: bold !important;
}
